<section class="mt-5" id="portfolio">
  <div class="container">
    <div class="container my-5 text-center">


      <div class="form-group">
        <button class="btn btn-primary" style="background-color: #333;" (click)="mostrarFormularioAgregar()">New
          Product</button>
      </div>

<!--
      <div id="formulario-agregar">
        <form ngNativeValidate [formGroup]="customerAgregarForm" (ngSubmit)="addCustomer(customerAgregarForm.value)">

          <div class="form-group">
            <input type="text" name="" id="FirstName" class="form-control" placeholder="FirstName"
            formControlName="FirstName">
          </div>

          <div class="form-group">
            <input type="text" name="" id="LastNames" class="form-control" placeholder="LastNames"
            formControlName="LastNames">
          </div>

          <div class="form-group">
            <input type="text" name="" id="PrimaryAddress" class="form-control" placeholder="PrimaryAddress"
              formControlName="PrimaryAddress">
          </div>

          <div class="form-group">
            <input type="text" name="" id="PrimaryPhone" class="form-control" placeholder="PrimaryPhone"
            formControlName="PrimaryPhone">
          </div>

          <div class="form-group">
            <input type="text" name="" id="SecondaryAddress" class="form-control" placeholder="SecondaryAddress"
            formControlName="SecondaryAddress">
          </div>

          <div class="form-group">
            <input type="text" name="" id="SecondaryPhone" class="form-control" placeholder="SecondaryPhone"
              formControlName="SecondaryPhone">
          </div>

          <div class="form-group">
            <input type="text" name="" id="District" class="form-control" placeholder="District"
            formControlName="District">
          </div>

          <div class="form-group">
            <button class="btn btn-primary" style="background-color: #333; margin-right: 10px;"
              type="submit">Add</button>
            <button class="btn btn-secondary" type="button" (click)="cerrarFormularioAgregar()">Close</button>
          </div>
        </form>
      </div>


-->








<div class="p-4"></div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Available Stock</th>
              <th>Paid</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{product.ProductName}}</td>
              <td>{{product.ProductDescription}}</td>
              <td>{{product.Price}}</td>
              <td>{{product.AvailableStock}}</td>
              <td>
                <fa-icon [icon]="faEdit" (click)="seleccionar(product)"></fa-icon>
              </td>
              <td>
                <fa-icon [icon]="faTimes" (click)="eliminar(product)"></fa-icon>
              </td>
             </tr>
          </tbody>
        </table>

      </div>

    </div>
</section>

