<section class="mt-5" id="portfolio">
  <div class="container">
    <div class="container my-5 text-center">


      <div class="form-group">
        <button class="btn btn-primary" style="background-color: #333;" (click)="showAdditionForm()">New
          Product</button>
      </div>



<!--
      <div id="formulario-agregar">
        <form ngNativeValidate [formGroup]="customerAgregarForm" (ngSubmit)="addCustomer(customerAgregarForm.value)">

          <div class="form-group">
            <input type="text" name="" id="FirstName" class="form-control" placeholder="FirstName"
            formControlName="FirstName">
          </div>

          <div class="form-group">
            <input type="text" name="" id="LastNames" class="form-control" placeholder="LastNames"
            formControlName="LastNames">
          </div>

          <div class="form-group">
            <input type="text" name="" id="PrimaryAddress" class="form-control" placeholder="PrimaryAddress"
              formControlName="PrimaryAddress">
          </div>

          <div class="form-group">
            <input type="text" name="" id="PrimaryPhone" class="form-control" placeholder="PrimaryPhone"
            formControlName="PrimaryPhone">
          </div>

          <div class="form-group">
            <input type="text" name="" id="SecondaryAddress" class="form-control" placeholder="SecondaryAddress"
            formControlName="SecondaryAddress">
          </div>

          <div class="form-group">
            <input type="text" name="" id="SecondaryPhone" class="form-control" placeholder="SecondaryPhone"
              formControlName="SecondaryPhone">
          </div>

          <div class="form-group">
            <input type="text" name="" id="District" class="form-control" placeholder="District"
            formControlName="District">
          </div>

          <div class="form-group">
            <button class="btn btn-primary" style="background-color: #333; margin-right: 10px;"
              type="submit">Add</button>
            <button class="btn btn-secondary" type="button" (click)="cerrarFormularioAgregar()">Close</button>
          </div>
        </form>
      </div>


-->





<div class="p-4"></div>
        <table class="table">
          <thead>
            <tr>
              <th (click)="setOrder('Name')"
              [class.active]="productOrder==='Name'">
              Name
                <span [hidden]="reverse"><fa-icon [icon]="faChevronUp"></fa-icon></span>
                <span [hidden]="!reverse"><fa-icon [icon]="faChevronUp"></fa-icon></span>
              </th>
              <th>Description</th>
              <th>Price</th>
              <th>Available Stock</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products
            | filterBy: productFilter
            | orderBy: productOrder : reverse
            | paginate: { itemsPerPage: 30, currentPage: pageNumber }
            ">
              <td>{{product.Name}}</td>
              <td>{{product.Description}}</td>
              <td>{{product.BasePrice}}</td>
              <td>{{product.AvailableStock}}</td>
              <td>
                <fa-icon [icon]="faEdit" (click)="seleccionar(product)"></fa-icon>
              </td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
</section>

