<section class="mt-5" id="portfolio">
  <div class="container">
    <div class="container my-5 text-center">

      <div class="form-group">
        <button class="btn btn-primary" style="background-color: #333;" (click)="mostrarFormularioAgregar()">New
          Customer</button>
      </div>

      <div id="formulario-agregar">
        <form ngNativeValidate [formGroup]="AddCustomerForm" (ngSubmit)="addCustomer(AddCustomerForm.value)">

          <div class="form-floating">
            <input type="text" class="form-control" id="FullName" placeholder="Full Name" formControlName="FullName">
            <label for="FullName">Full Name</label>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="PrimaryAddress" placeholder="Primary Address" formControlName="PrimaryAddress">
            <label for="PrimaryAddress">Primary Address</label>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="PrimaryPhone" placeholder="Primary Phone" formControlName="PrimaryPhone">
            <label for="PrimaryPhone">Primary Phone</label>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="SecondaryAddress" placeholder="Secondary Address" formControlName="SecondaryAddress">
            <label for="SecondaryAddress">Secondary Address</label>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="SecondaryPhone" placeholder="Secondary Phone" formControlName="SecondaryPhone">
            <label for="SecondaryPhone">Secondary Phone</label>
          </div>

          <div class="form-floating">
            <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="Email">
            <label for="Email">Email</label>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="inCharge" placeholder="In Charge" formControlName="inCharge">
            <label for="InCharge">In Charge</label>
          </div>

          <select formControlName="District" id="District" class="form-control" placeholder="District">
            <option *ngFor="let options of districtOptions">{{options}}</option>
          </select>

          <select formControlName="Intrest" id="Intrest" class="form-control" placeholder="Intrest">
            <option *ngFor="let options of interstOptions">{{options}}</option>
          </select>
<!--
          <div class="form-floating">
            <input type="text" class="form-control" id="Notes" placeholder="Notes" formControlName="Notes">
            <label for="Notes">Notes</label>
          </div>
-->
          <div class="form-group">
            <label for="Notes" class="form-label mt-4">Notes</label>
            <textarea class="form-control" id="Notes" rows="2" formControlName="Notes"></textarea>
          </div>

          <!--
          <div class="form-group">
            <input type="text" name="" id="FullName" class="form-control" placeholder="FullName"
            formControlName="FullName">
          </div>

          <div class="form-group">
            <input type="text" name="" id="PrimaryAddress" class="form-control" placeholder="PrimaryAddress"
              formControlName="PrimaryAddress">
          </div>

          <div class="form-group">
            <input type="text" name="" id="PrimaryPhone" class="form-control" placeholder="PrimaryPhone"
            formControlName="PrimaryPhone">
          </div>

          <div class="form-group">
            <input type="text" name="" id="SecondaryAddress" class="form-control" placeholder="SecondaryAddress"
            formControlName="SecondaryAddress">
          </div>

          <div class="form-group">
            <input type="text" name="" id="SecondaryPhone" class="form-control" placeholder="SecondaryPhone"
              formControlName="SecondaryPhone">
          </div>

          <div class="form-group">
            <input type="text" name="" id="District" class="form-control" placeholder="District"
            formControlName="District">
          </div>

          <div class="form-group">
            <input type="text" name="" id="Notes" class="form-control" placeholder="Notes"
            formControlName="Notes">
          </div>

          <select formControlName="Intrest" id="Intrest" class="form-control" placeholder="Intrest">
            <option *ngFor="let options of interstOptions">{{options}}</option>
          </select>

        -->
          <div class="form-group">
            <button class="btn btn-primary" style="background-color: #333; margin-right: 10px;"
              type="submit">Add</button>
            <button class="btn btn-secondary" type="button" (click)="cerrarFormularioAgregar()">Close</button>
          </div>
        </form>
      </div>

      <div class="form-group">
        <input type="text" class="form-control"
        [(ngModel)]="customerFilter.Names" placeholder="Search by Name">
      </div>


<div class="p-4"></div>
        <table class="table">
          <thead>
            <tr>
              <th (click)="setOrder('Names')"
              [class.active]="customerOrder==='Names'">
              Names
              <span [hidden]="reverse"><fa-icon [icon]="faChevronUp"></fa-icon></span>
              <span [hidden]="!reverse"><fa-icon [icon]="faChevronUp"></fa-icon></span>
            </th>
              <th>Phone 1</th>
              <th>Phone 2</th>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>Email</th>
              <th>Intrest</th>
              <th>Notes</th>
              <th>In Charge</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cust of customers
            | filterBy: customerFilter
            | orderBy: customerOrder : reverse
            | paginate: { itemsPerPage: 30, currentPage: pageNumber }
            ">
              <td>{{cust.GSI1PK}}</td>
              <td>{{cust.Phone1}}</td>
              <td>{{cust.Phone2}}</td>
              <td>{{cust.Address1}}</td>
              <td>{{cust.Address2}}</td>
              <td>{{cust.Email}}</td>
              <td>{{cust.Intrest}}</td>
              <td>{{cust.Notes}}</td>
              <td>{{cust.inCharge}}</td>
              <td>
                <fa-icon [icon]="faEdit" (click)="seleccionar(cust)"></fa-icon>
              </td>
              <td>
                <fa-icon [icon]="faTimes" (click)="deactivate(cust)"></fa-icon>
              </td>
             </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageNumber = $event"
        previousLabel="Previous"
        nextLabel="Next"></pagination-controls>
      </div>

    </div>
</section>







<div class="modal fade" id="formularioActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ngNativeValidate [formGroup]="customerActualizarForm" (ngSubmit)="updateCustomer(customerActualizarForm.value)"
        *ngIf="customerUpdated">
        <div class="modal-body">

          <div class="form-group">
            <label for="ClientId_uuid">Id:</label>
            <input type="text" name="" id="ClientId_uuid" class="form-control" placeholder="ClientId_uuid" formControlName="ClientId_uuid"
              required readonly [(ngModel)]="customerUpdated.ClientId_uuid">
          </div>

          <div class="form-group">
            <label for="FirstName">Name:</label>
            <input type="text" name="" id="FirstName" class="form-control" placeholder="FirstName" formControlName="FirstName"
            [(ngModel)]="customerUpdated.FirstName">
          </div>


          <div class="form-group">
            <label for="PrimaryAddress">Primary Address:</label>
            <input type="text" name="" id="PrimaryAddress" class="form-control" placeholder="PrimaryAddress"
              formControlName="PrimaryAddress" [(ngModel)]="customerUpdated.PrimaryAddress">
          </div>

          <div class="form-group">
            <label for="PrimaryPhone">Primary Phone:</label>
            <input type="text" name="" id="PrimaryPhone" class="form-control" placeholder="PrimaryPhone" formControlName="PrimaryPhone"
            [(ngModel)]="customerUpdated.PrimaryPhone">
          </div>

          <div class="form-group">
            <label for="SecondaryAddress">Secondary Address:</label>
            <input type="text" name="" id="SecondaryAddress" class="form-control" placeholder="SecondaryAddress" formControlName="SecondaryAddress"
            [(ngModel)]="customerUpdated.SecondaryAddress">
          </div>

          <div class="form-group">
            <label for="SecondaryPhone">Secondary Phone:</label>
            <input type="text" name="" id="SecondaryPhone" class="form-control" placeholder="SecondaryPhone"
              formControlName="SecondaryPhone" [(ngModel)]="customerUpdated.SecondaryPhone">
          </div>

          <div class="form-group">
            <label for="District">District:</label>
            <input type="text" name="" id="District" class="form-control" placeholder="District" formControlName="District"
            [(ngModel)]="customerUpdated.District">
          </div>

          <div class="form-group">
            <label for="Notes">Notes:</label>
            <input type="text" name="" id="Notes" class="form-control" placeholder="Notes"
            formControlName="Notes" [(ngModel)]="customerUpdated.Notes">
          </div>

          <div class="form-group">
            <label for="Intrest">Intrest:</label>
            <select formControlName="Intrest" id="Intrest" class="form-control" placeholder="Intrest" [(ngModel)]="customerUpdated.Intrest">
              <option *ngFor="let options of interstOptions">{{options}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="Active">Active:</label>
            <select formControlName="Active" id="Active" class="form-control" placeholder="Active" [(ngModel)]="customerUpdated.Active">
              <option *ngFor="let options of activeOptions">{{options}}</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" style="background-color: #333;" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
