
<section>

  <div id="app" class="flex-container">
    <div class="flex-item" style="background-color:white">
    <app-outstanding></app-outstanding>
    </div>

    <div class="flex-item" style="background-color:white">
      <app-pending-changes></app-pending-changes>
    </div>

    <div class="flex-item" style="background-color:white">
      <app-open-notes></app-open-notes>
    </div>

    <div class="flex-item" style="background-color:white">
      <app-upcoming-changes></app-upcoming-changes>
    </div>
  </div>

</section>
