
<section>

  <div id="app" class="flex-container">
    <div class="flex-item" style="background-color:white">
    <app-outstanding></app-outstanding>
    </div>

    <div class="flex-item" style="background-color:white">
      <app-outstanding></app-outstanding>
    </div>

    <div class="flex-item" style="background-color:white">
      <app-outstanding></app-outstanding>
    </div>

    <div class="flex-item" style="background-color:white">
      <app-outstanding></app-outstanding>
    </div>
  </div>

</section>
